<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".dare" mimeType="application/dare" />
			<mimeMap fileExtension=".dzip" mimeType="application/dare-archive" />
			<mimeMap fileExtension=".dcat" mimeType="application/dare-catalog" />
			<mimeMap fileExtension=".dlog" mimeType="application/dare-log" />
			<mimeMap fileExtension=".dspool" mimeType="application/dare-spool" />
		</staticContent>
	</system.webServer>
</configuration>